[submodule "Sources/cpp-jwt"]
	path = Sources/cpp-jwt
	url = https://github.com/arun11299/cpp-jwt.git
[submodule "Carthage/Checkouts/Result"]
	path = Carthage/Checkouts/Result
	url = https://github.com/antitypical/Result.git
